html { 
	background: url('../img/kitchenbackground.png') no-repeat center center fixed;
	background-size: cover;
}

.container {
  	font-family: 'Shadows Into Light Two', cursive;
  	margin: 0 auto;
  	margin-top: -2.5em;
  	text-align: center;
}

h1 {
	font-size: 5em;
	margin-bottom: -0.2em;
}

h2 {
	font-size: 1.15em;
}

.main {
	margin-top: -10px;
  	margin: 0 auto;
 }

 .cuttingboard {
 	height: 850px; 
 	width: 950px;
 	margin: 0 auto;
 	background: url('../img/cboardsmall.png');
 	background-repeat: repeat-y;
 }

 p {
	font size: 1.5em;
 	color: #800000;
 	font-size: 23px;
	font-weight: bold;
	padding-top: 0.5em;
	margin-bottom: 0.5em;
}

  #additem {
   	height:  30px;
 	width: 300px;
 }

 button {
 	border: solid;
 	font-weight: bold;
 	background: none;
}

 #list {
 	list-style-type: none;
 	text-align: left;
 	font-family: 'Roboto Slab', serif;
 	color: #800000;
 	font-size: 18px;
 	width: 300px;
 	padding-left: 1em;	
 	padding-top: 0em;
 	cursor: pointer;
 }

 .add {
	height: 20px;
	width: 20px;
	padding-right: 0.5em;
	padding-top: 0.6em;
}

  .delete {
 	height: 15px;
 	width: 15px;
 	padding-left: 0.8em;
 	padding-top: 0.6em;
}

.strike {
	color: black;
	text-decoration: line-through;
}